:root {
  --cell-size: 60px;
  --board-size: 620px;
  --blank-color: rgb(239, 218, 236);
}
body {
  font-family :Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: url(../public/wallpaper2.jpeg) repeat-x 50% 65% fixed;
}

.board {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .map-border {
  width: var(--board-size);
  height: var(--board-size);
  /* border: solid 1px black; */
  display: flex;
  flex-wrap: wrap;
  background:var(--blank-color);
}

.board .map-border .map-cell {
  float: left;
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 1px;
  background: rgb(194, 194, 239);
  /* opacity: 0.5; */
  font-size: 15px;
  color: black;
  font-family: 'Kalam';
  overflow: hidden;
}

.board .map-border .start {
  background: lightgreen;
}

.board .map-border .not-display {
  background: var(--blank-color);
}

.board .dice-board {
  position: relative;
  background: var(--blank-color);
  height: var(--board-size);
  width: fit-content;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .dice-board .dice-num {
  font-size: 25px;
}

.board .dice-board  .dice {
  /* border: solid 1px black; */
  width:fit-content;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: lightgray;
}
.board .dice-board  .turn {
  position: absolute;
  top: 10px;
}
.board .dice-board  .turn .turn-color {
  width: 80px;
  height: 80px;
}

.popup {
  width: 500px;
  height: 300px;
  background: white;
  /* border: solid 1px black; */
  border-radius: 5px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: none;
  /* text-align: center; */
  font-size: 20px;
  /* line-height: 300px; */
}

.popup .popupMessage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  font-size: 25px;
  width: fit-content;
  height: fit-content;
  background: white;
  padding: 0 10px 0 10px;
}

.popupImage1 {
  background: url(../public/popup1.png);
  background-size: contain;
}

.popupImage2 {
  background: url(../public/popup2.png);
  background-size: contain;
}

.popup .close-button {
  position: absolute;
  height: fit-content;
  line-height: normal;
  width: fit-content;
  bottom: 10px;
  border: solid 1px black;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background: white;
}

.board .map-border .user1Image, .user1Image {
  background: url(../public/user1Image.png);
  background-size: contain;
}

.board .map-border .user2Image, .user2Image {
  background: url(../public/user2Image.png);
  background-size: contain;
}

